
.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: 400px;
    background-color: rgb(208, 218, 218);
}

.flexItem {
    background-color: burlywood;
    padding: 10px;
    margin: 0 5px;
    border: solid 4px salmon;
}